.img-fluid {
    width: 100%;

    
}

body {
        background-image: url('Background.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        
        
      }



.row {
    margin-top: 5%;
    color:white;
    background-color: darkslategrey;
    width: 70%;
}

#portfolio {
    width: 70%;
}

.header {
    margin-top: 5%;
}

.footer {
    background-color: #343a40;
    color:white;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    

}
