.img-fluid {
    width: 100%;

    
}

body {
        background-image: url('Background.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        
        
      }

.container {
    margin-right: ;
}



.row {
    margin-top: 5%;
    color:white;
    background-color: darkslategrey;
}

.header {
    margin-top: 5%;
}

